In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('Mohgaon temperature.xlsx')
rows_to_drop = [(0,10012), (25354, 25932)]
for start_index, end_index in rows_to_drop:
     df.drop(range(start_index, end_index + 1), inplace = True)
df

,Year,Month,Day,T4 max,T5 max,T14 max,T15 max,T23 max,T24 max,T4 min,...,T14 min,T15 min,T23 min,T24 min,T4 avg,T5 avg,T14 avg,T15 avg,T23 avg,T24 avg
10013,1978,6,1,41.5,42.5,42.3,42.0,43.3,42.9,27.1,...,27.9,28.2,30.1,29.6,34.30,35.30,35.10,35.10,36.70,36.25
10014,1978,6,2,41.9,43.0,42.7,42.7,43.5,43.0,27.8,...,27.8,28.5,29.7,29.2,34.85,35.80,35.25,35.60,36.60,36.10
10015,1978,6,3,41.8,43.0,42.8,42.9,43.6,43.1,26.9,...,27.7,27.9,27.8,27.2,34.35,35.50,35.25,35.40,35.70,35.15
10016,1978,6,4,41.3,42.6,42.5,42.6,43.5,43.0,25.4,...,27.1,28.0,29.8,29.0,33.35,34.65,34.80,35.30,36.65,36.00
10017,1978,6,5,40.1,41.0,40.9,41.0,42.5,42.1,26.1,...,27.2,27.9,30.2,29.6,33.10,34.20,34.05,34.45,36.35,35.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25349,2020,5,27,43.2,43.9,44.2,43.6,44.4,43.4,26.8,...,28.1,27.6,28.3,27.9,35.00,36.10,36.15,35.60,36.35,35.65
25350,2020,5,28,42.9,44.1,44.0,43.5,42.3,40.5,26.3,...,27.0,26.9,28.5,27.0,34.60,36.05,35.50,35.20,35.40,33.75
25351,2020,5,29,41.5,42.9,42.7,42.0,40.1,38.3,26.6,...,28.2,27.8,26.1,24.3,34.05,35.45,35.45,34.90,33.10,31.30
25352,2020,5,30,41.1,41.9,41.7,40.9,39.4,38.2,26.1,...,27.1,26.7,25.7,24.5,33.60,34.60,34.40,33.80,32.55,31.35
25353,2020,5,31,41.5,42.2,41.6,40.7,39.2,37.9,26.6,...,27.2,26.6,26.1,24.5,34.05,35.05,34.40,33.65,32.65,31.20

In [3]:
df.to_excel('TEMP_Q.xlsx')